.expenses {
    display: flex;
    flex-direction: column;
}

.expenses__header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 0 10px 0;
}

.exenses__title {}

.expenses__table {}

.expenses__row {}

.expenses__column {}