.footer__row {
    display: flex;
    padding: 10px 32px;
    align-items: center;
}

.footer__copyright {
    max-width: 50%;
    text-align: justify;

    & p {
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace;
    }
}

.footer-nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav__item {
    margin: 0 0 5px 0;
    
    &:last-child {
        margin: 0;
    }
}

.footer-nav__link {
    color:rgb(20, 34, 34);

}

.footer__social {
    display: flex;
    justify-content: space-around;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social__item {
        margin: 0 12px 0 0;
        display: flex;

        &:last-child {
            margin: 0;
        }
}

.social__link {
    width: 24px;
}

.social__logo {
    width: 100%;
    border-radius: 50px;

    &:hover {
        border: 2px darkgreen solid;
    }
}