@import "_reset.scss";
@import "_header.scss";

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.header {
    position: static;
}