<header class="header" id="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary header-nav">
        <div class="container-fluid header__row">
            <a class="header-nav__logo" href="#">
                <img src="../../assets/images/logo.png" alt="App Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav header-nav__links">
                    <li class="nav-item header-nav__link">
                        <a href="index.html">Overview</a>
                    </li>
                    <li class="nav-item header-nav__link ml-0">
                        <a href="expenses.html">Expenses</a>
                    </li>
                    <li class="nav-item header-nav__link">
                        <a href="#">Reports</a>
                    </li>
                    <li class="nav-item header-nav__link">
                        <a href="#">Planning</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>