<header class="header" id="header">
    <nav class="header__row header-nav">
        <div class="header-nav__logo">
            <a href="#">
                <img src="/assets/images/logo.png" alt="App Logo">
            </a>
        </div>
        <ul class="header-nav__links">
            <li class="header-nav__link">
                <a href="index.html">Overview</a>
            </li>
            <li class="header-nav__link">
                <a href="expenses.html">Expenses</a>
            </li>
            <li class="header-nav__link">
                <a href="incomes.html">Incomes</a>
            </li>
            <li class="header-nav__link">
                <a href="#">Reports</a>
            </li>
            <li class="header-nav__link">
                <a href="#">Planning</a>
            </li>
        </ul>
        <div class="header-nav__profile">
            Profile dropdown
        </div>
    </nav>
</header>